.main__container{
    height: 100vh;
}
.main__img{
    position:absolute;
    left:-345px;
    width: 980px;
    height: 713px;
}
.main__content{
    margin-left: 650px;

}
.main__title{
    font-size: 35px;
    width: 670px;
    text-align: center;
    padding-top: 275px;
    line-height: 55px;
    letter-spacing: -0.76px;
}
.main__decor{
    margin-left: 213px;
    margin-top: 25px;
    margin-bottom: 65px;
}
.btn{
    display: inline-block;
    border: 0.75px solid #3C3C3C;
    background-color: transparent;
    padding: 13px 51px;
    font-size: 36px;
    text-transform: uppercase;
    font-family: $font-base;
    font-weight: 300;
    width: 200px;
    margin-right: 44px;
    text-align: center;
    cursor: pointer;
    color: $font-col-primary;
    text-decoration: none;
}