.help__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin-bottom: 80px;
}
.help__title {
	font-size: 38px;
	line-height: 55px;
	margin-bottom: 30px;
	margin-top: 70px;
}
.help__img {
	margin-bottom: 60px;
}
.help__tabs {
	display: flex;
	gap: 30px;
	margin-bottom: 80px;
}
.help__btn {
	background-color: transparent;
	border: 1px solid #3c3c3c;
	width: 210px;
	height: 80px;
	padding: 10px 20px;
	font-size: 24px;
	color: $font-col-primary;
	color: $font-col-primary;
}
.help__lists {
}
.help__lists__container {
	width: 1300px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-family: $font-alt;
	margin-bottom: 60px;
}
.lists__single {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	margin-top: 30px;
}
.lists__single__left {
}
.lists__single__title {
	font-size: 31px;
	line-height: 31px;
}
.lists__single__desc {
	font-size: 18px;
	line-height: 22px;
}
.lists__single__right {
}
.pagination{
display: flex;
justify-content: center;
}
.pagination__btn{
    width: 40px;
    height: 50px;
    font-size: 18px;
    line-height: 24px;
    background-color: transparent;
    border: none;
}

